<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">Blackmore7!snd</property>
    <mapping class="org.models.Apasxolisi"/>
    <mapping resource="hibernateMappings/Apasxolisi.hbm.xml"/>
    <mapping class="org.models.Ergazomenos"/>
    <mapping resource="hibernateMappings/Ergazomenos.hbm.xml"/>
    <mapping class="org.models.Ergo"/>
    <mapping resource="hibernateMappings/Ergo.hbm.xml"/>
    <mapping class="org.models.Exartomenos"/>
    <mapping resource="hibernateMappings/Exartomenos.hbm.xml"/>
    <mapping class="org.models.Tmhma"/>
    <mapping resource="hibernateMappings/Tmhma.hbm.xml"/>
    <mapping class="org.models.TopothTmhma"/>
    <mapping resource="hibernateMappings/Topothtmhma.hbm.xml"/>

  </session-factory>
</hibernate-configuration>